.up{
    margin: auto;
    display: block;
    background-color: rgb(61, 7, 7);
    text-align: left;
    height: 52px;
}
.h3{
    top: 10px;
    margin:0;
}


.a{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    padding: 10px;
    text-decoration: none;

}

